
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

  ul,h3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  h3 {
    float: left;
  }
  li{
    float: right;
    margin-right: 50px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
      }
h3{
  padding: 10px 200px 0px 50px;
  color: beige;
  font-family: 'Redressed', cursive; 
 

}  
.divide{
  font-size: 25px; 
  padding-left: 455px;
  color: beige;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: bold;
} 

.heading{
  padding-top: 75px;
  font-size: 50px; 
  color: beige;
  font-family:  'Josefin Sans', sans-serif;
  padding-left: 350px;
}

main section + section{
  padding-top: 5px;
} 

main{
  background-image: url(bcoder.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}   

main section{
  margin-left: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

main + section > section{ 
height: 300px; 
float: left;
width: 33.3333%;
align-items: center;
text-align: center;
padding: 150px;
padding-top: 50px;

}  
h4{
  font-weight: bolder;
}
.html img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.progress{
  width: 100%;
  background: #004161;
  border-radius: 10px;
  margin: 18px 0px;
  height: 25px;
}
.progress span{
  font-weight: bolder;
  color: #31cde5;
}
.css img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.js img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
main + section + section > section{
  height: 300px;
  width: 50%;
  float: left;
  padding: 150px;
  padding-top: 0px;
  
}

.ul{
  height: 50px;
  width: 250px;
  background:#004161;
  
} 

.list{
  color:#31cde5;
  text-align: center;
  width: 150px;
  font-weight: bolder;
}
.img {
  padding-left: 50px; 
}  
.img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
} 
main + section + section + section > section{
  height: 300px;
  width: 33.3333%;
  float: left;
  padding-top: 50px;
  padding-left: 150px;
  
}

 main + section + section + section + section > section{ 
    height: 300px; 
    float: left;
    width: 50%;
    padding-top: 0px;
    padding: 150px;
 }  
.projects{
    padding-top: 10px;
 } 
 .projects p{
   word-wrap: break-word;
   width: 300px;
 }
.proj{
  padding-left: 50px; 
  padding-top: 10px;
}
.proj img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  
} 
.ull{
    height: 50px;
    width: 250px;
    background:#333;
    
   }
.lists{
    color:beige;
    text-align: center;
    width: 150px;
  }
  
  main + section + section + section + section + section > section{
    height: 300px; 
    float: left;
    width: 100%;
    padding-top: 100px;
    padding: 150px;

  } 
.afro{
   text-align: center;
   padding-top: 0px;
   background: #333;
   height: 45px;
   width: 150px;
   color: beige;
   margin-top: 0px;
 }
 .pic{
   margin-bottom: 0px;
 }

.msgme{
  padding-left: 275px;
}
.msgme.container{
  width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
}
.box{
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.msgme h3{
  font-size: 35px;
  margin: 15px;
}
.name{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.name i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.name input{
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
}
.name input::placeholder{
  color: #bbb;
  font-weight: 500;
}
.email{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.email i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.email input{
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
}
.email input::placeholder{
  color: #bbb;
  font-weight: 500;
}
.message-box{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.message-box i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.message-box textarea{
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
}
.message-box textarea::placeholder{
  color: #bbb;
  font-weight: 500;
}

.button{
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}
.button button{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #31cde5;
  background-color: #004161;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}
.message{
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.message .success{
  font-size: 20px;
  color: green;
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}
.message .danger{
  font-size: 20px;
  color: red;
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;
}

